<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Calculator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script language='JavaScript'>
    <!--
    FirstNum  = "0";
    SecondNum = "0";
    Operation = "";

    function AddNum(dig)
    {
        if (SecondNum.indexOf("!") == -1)  //if not error
        {
            if ((eval(SecondNum) == 0) && (SecondNum.indexOf(".") == -1))
            {
                SecondNum = dig;
            }
            else
            {
                SecondNum = SecondNum + dig;
            };

            SecondNum = SecondNum.toLowerCase();
        };

       if (SecondNum.indexOf("e0") != -1)
       {
           var epos = SecondNum.indexOf("e");
           SecondNum = SecondNum.substring(0,epos+1) + SecondNum.substring(epos+2);
       };

       document.Calculator.Display.value = SecondNum;
     }

    function dcml()
     {
        if ( SecondNum.length == 0)
        {
            SecondNum = "0.";
        }
            else
        {
            if ((SecondNum.indexOf(".") == -1) &&( SecondNum.indexOf("e") == -1))
            {
                SecondNum = SecondNum + ".";
            };
        };
        document.Calculator.Display.value = SecondNum;
     }

    function Clear()
    {
        FirstNum = "0"
        Operation = "";
        document.Calculator.Display.value = 0;
     }

    function MathOp(op)
    {
        Operation = op;
        FirstNum = SecondNum; 
        SecondNum = "";
        document.Calculator.Display.value = SecondNum;
     }

    function Calc()
     {
        // Not clear on how to get this into the Model class.
        // Hidden text fields?  Seems too 90s.
        window.alert(FirstNum + Operation + SecondNum);

     }

    //-->
    </script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
